<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryId</key>
		<string>0001</string>
		<key>categoryName</key>
		<string>服装（一楼）</string>
		<key>templateId</key>
		<string>0001</string>
		<key>templateName</key>
		<string>服装类楼层模版</string>
		<key>templateCode</key>
		<string>fuzhuangViewController</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>0002</string>
		<key>categoryName</key>
		<string>家电（二楼）</string>
		<key>templateId</key>
		<string>0002</string>
		<key>templateName</key>
		<string>家电类楼层模版</string>
		<key>templateCode</key>
		<string>jiadianViewController</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>0003</string>
		<key>categoryName</key>
		<string>数码（三楼）</string>
		<key>templateId</key>
		<string>0003</string>
		<key>templateName</key>
		<string>数码类楼层模版</string>
		<key>templateCode</key>
		<string>shumaViewController</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>0004</string>
		<key>categoryName</key>
		<string>母婴（四楼）</string>
		<key>templateId</key>
		<string>0004</string>
		<key>templateName</key>
		<string>母婴类楼层模版</string>
		<key>templateCode</key>
		<string>muyingViewController</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>0005</string>
		<key>categoryName</key>
		<string>箱包（五楼）</string>
		<key>templateId</key>
		<string>0005</string>
		<key>templateName</key>
		<string>箱包类楼层模版</string>
		<key>templateCode</key>
		<string>xiangbaoViewController</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>0006</string>
		<key>categoryName</key>
		<string>生鲜（六楼）</string>
		<key>templateId</key>
		<string>0006</string>
		<key>templateName</key>
		<string>生鲜类楼层模版</string>
		<key>templateCode</key>
		<string>shengxianViewController</string>
	</dict>
</array>
</plist>
